/* You can add global styles to this file, and also import other style files */
body {
  margin: 12px;
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: rgb(41 42 45);
    color: #fff;
  }
}
